src/by/it/dorostchenok/jd02_07_xml/schema/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="price" type="xs:double" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>